.cards-coaches {
  position: relative;
  width: 260px;
  height: 294px;
  color: $color-default-white;
  overflow: hidden;

  @media (max-width: $vp-1199) {
    width: 268px;
  }
}

.cards-coaches:hover .cards-coaches__back {
  transform: translateX(0);
  transition: 0.3s ease;
}

.cards-coaches__front {
  position: relative;
  width: 260px;
  height: 294px;

  @media (max-width: $vp-1199) {
    width: 268px;
  }

  @media (max-width: $vp-767) {
    width: 226px;
    height: 274px;
  }
}

.cards-coaches__front-img {
  width: 260px;
  height: 294px;
  background-color: $color-dark-gray;

  @media (max-width: $vp-1199) {
    width: 268px;
  }

  @media (max-width: $vp-767) {
    width: 226px;
    height: 274px;
  }
}

.cards-coaches__front-img img {
  width: 260px;
  height: 294px;
  object-fit: cover;

  @media (max-width: $vp-1199) {
    width: 268px;
  }

  @media (max-width: $vp-767) {
    width: 226px;
    height: 274px;
  }
}

.cards-coaches__front p {
  margin: 0;
  position: absolute;
  bottom: 22px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: inherit;
}

.cards-coaches__back {
  position: absolute;
  top: 0;
  left: 0;
  padding: 58px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-100%);
  transition: 0.3s ease;

  width: 260px;
  height: 294px;
  background: rgba(16, 38, 84, 0.89);

  @media (max-width: $vp-1199) {
    padding: 40px 10px 10px 10px;
    width: 268px;
  }

  @media (max-width: $vp-767) {
    padding: 46px 10px 10px 10px;
    width: 226px;
    height: 274px;
  }
}

.cards-coaches__back h2 {
  margin: 0;
  margin-bottom: 10px;
  font-family: $ff-placeholder;

  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: inherit;

  @media (max-width: $vp-1199) {
    font-size: 18px;
    line-height: 27px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 1;
  }
}

.cards-coaches__back p {
  margin: 0;
  margin-bottom: 45px;
  color: inherit;

  @media (max-width: $vp-767) {
    margin-bottom: 35px;
   }
}

.cards-coaches__back-list {
  margin: 0;
  padding: 0;

  @media (max-width: $vp-767) {
    margin-left: 32px;
   }
}

.cards-coaches__back-list li {
  height: auto;
  width: 159px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: inherit;

  @media (max-width: $vp-767) {
   letter-spacing: 0;
  }
}

.cards-coaches__back-list li:not(:last-child) {
  margin-bottom: 10px;

  @media (max-width: $vp-767) {
    margin-bottom: 13px;
   }
}
