.coaches {
  padding-top: 18px;
  padding-bottom: 124px;
}

.coaches__wrapper {
  margin: 0 auto;
  max-width: 1160px;
}

.coaches__wrapper h2 {
  margin: 0;
  margin-bottom: 51px;
  font-family: $ff-bebas-neue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
}
