.contacts {
  padding-top: 70px;
  padding-bottom: 70px;
  width: 50%;

  @media (max-width: $vp-1199) {
    width: 100%;
  }
}

.contacts__wrapper {
  margin: 0 auto;
  max-width: 1160px;
  // min-height: 337px;
  display: flex;
  flex-direction: column;

  @media (max-width: $vp-1199) {
    max-width: 678px;
    flex-direction: column;
  }
}

.contacts__wrapper h2 {
  margin: 0;
  margin-bottom: 34px;
  font-family: $ff-bebas-neue;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
}

.contacts__description-wrapper {
  padding-left: 120px;
  width: 50%;
}

.contacts__description-wrapper h3 {
  margin: 0;
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.contacts__description-wrapper p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.contacts__description-columns {
  display: flex;
}

.contacts__description-col1 {
  width: 230px;
}

.contacts__description-col2 {
  padding-left: 60px;
  width: 226px;
}

.contacts__address {
  margin-bottom: 18px;
}

.contacts__phone {
  margin-bottom: 18px;
}
