.features {
  padding-top: 118px;
  padding-bottom: 50px;
  background-color: $color-ghost-white;
  min-height: 664px;

  @media (max-width: $vp-1199) {
    padding-top: 99px;
    padding-bottom: 92px;
  }

  @media (max-width: $vp-767) {
    padding-top: 69px;
    padding-bottom: 92px;
  }
}

.features h2 {
  margin: 0;
  margin-bottom: 68px;
  font-family: $ff-bebas-neue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: $vp-1199) {
    margin-bottom: 45px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 45px;
    font-size: 32px;
    line-height: 32px;
  }
}

.features__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 60px;
  max-width: 1160px;
  min-height: 307px;

  @media (max-width: $vp-1199) {
    max-width: 678px;
    padding: 0;
  }

  @media (max-width: $vp-767) {
    max-width: 100%;
  }
}

.features__list {
  display: grid;
  grid-template-columns: 320px 240px 1fr;
  grid-template-rows: auto auto;
  column-gap: 54px;
  padding-left: 27px;
  padding-right: 5px;
  min-height: 319px;


  @media (max-width: $vp-1199) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 32px;
    row-gap: 45px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    row-gap: 50px;
  }
}

.features__list dl {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  column-gap: 30px;
  margin: 0;

  @media (max-width: $vp-767) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.features__list dt {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;

  @media (max-width: $vp-1199) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 28px;
  }
}

.features__list dt+dd {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-weight: 700;
  font-size: 71px;
  line-height: 55px;
  background-image: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: $vp-1199) {
    font-size: 58px;
    line-height: 55px;
  }

  @media (max-width: $vp-767) {
    order: -1;
    align-items: center;
  }
}

.features__list dd span {
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: $color-black-russian;

  @media (max-width: $vp-1199) {
    line-height: 19px;
  }
}

.features__list dd+dd {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $color-sapphire;


  @media (max-width: $vp-767) {
    text-align: center;
  }
}

.features__list dl dt {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.features__list dl+dd {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.features__simulators-wrapper {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  padding: 65px 30px 30px;
  width: 240px;
  min-height: 307px;
  color: $color-default-white;
  background-color: $color-resolution-blue;

  @media (max-width: $vp-1199) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding: 41px 30px 30px;
    width: 442px;
    min-height: 239px;
    justify-self: center;
  }

  @media (max-width: $vp-767) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    width: 100vw;
    margin-left: -15px;
  }
}

.features__simulators-wrapper dl {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__simulators-wrapper dl dt {
  margin-bottom: 40px;
  font-size: 26px;

  @media (max-width: $vp-1199) {
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 33px;
  }
}

.features__simulators-wrapper dl dd {
  color: $color-default-white;
  text-align: center;

  @media (max-width: $vp-1199) {
    width: 172px;
  }
}

.features__simulators-wrapper dt+dd {
  order: -1;
  margin-bottom: 22px;
  background-image: none;
  background-color: $color-default-white;

  @media (max-width: $vp-1199) {
    margin-bottom: 10px;
    font-size: 72px;
    letter-spacing: 0.02em;
  }
}

.features__square-wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: start;

  @media (max-width: $vp-1199) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  @media (max-width: $vp-767) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}

.features__parking-wrapper {
  grid-column: 3 / -1;
  grid-row: 1 / 2;
  align-self: start;

  @media (max-width: $vp-1199) {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
  }

  @media (max-width: $vp-767) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
}

.features__experience-wrapper {
  grid-column: 3 / -1;
  grid-row: 2 / -1;
  align-self: end;

  @media (max-width: $vp-1199) {
    grid-column: 2 / -1;
    grid-row: 3 / -1;
  }

  @media (max-width: $vp-767) {
    grid-column: 1 / -1;
    grid-row: 5 / -1;
  }
}

.features__comfort-wrapper {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  align-self: end;

  @media (max-width: $vp-1199) {
    grid-column: 1 / 2;
    grid-row: 3 / -1;
  }

  @media (max-width: $vp-767) {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
  }
}
