.gym {
  padding-top: 120px;
  padding-bottom: 120px;
  min-height: 755px;

  @media (max-width: $vp-1199) {
    padding-top: 100px;
    padding-bottom: 184px;
  }

  @media (max-width: $vp-767) {
    padding-top: 69px;
    padding-bottom: 101px;
    overflow-x: hidden;
  }
}

.gym__wrapper {
  position: relative;
  margin: 0 auto;
  padding-left: 59px;
  max-width: 1160px;

  display: grid;
  grid-template-columns: 1fr 660px;
  column-gap: 85px;

  @media (max-width: $vp-1199) {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    text-align: center;
  }
}

.gym__wrapper-text {
  margin-top: 50px;

  @media (max-width: $vp-1199) {
    margin-top: 0;
    padding-left: 87px;
    padding-right: 87px;
  }

  @media (max-width: $vp-767) {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }
}

.gym__wrapper-text h2 {
  margin: 0;
  margin-bottom: 4px;
  font-family: $ff-bebas-neue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;

  @media (max-width: $vp-1199) {
    margin-bottom: 7px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $vp-767) {
    font-size: 32px;
    line-height: 32px;
  }
}

.gym__wrapper-text h3 {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  @media (max-width: $vp-1199) {
    margin-bottom: 34px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 23px;
  }
}

.gym__wrapper-text p {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: $vp-1199) {
    margin-bottom: 43px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 33px;
    width: 260px;
  }
}

.gym__wrapper-text p+p {
  @media (max-width: $vp-1199) {
    display: none;
  }
}

.gym__img {
  background-color: $color-light-slate-grey;

  @media (max-width: $vp-1199) {
    margin: 0 auto;
  }

  @media (max-width: $vp-767) {
    margin-left: -15px;
    margin-bottom: 9px;
    width: 100vw;
    height: 313px;
  }
}

.gym__img img {
  width: 660px;

  @media (max-width: $vp-1199) {
    width: 678px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    height: 313px;
    object-fit: cover;
  }
}

.gym__video {
  position: absolute;
  bottom: -114px;
  left: 435px;
  width: 364px;
  height: 228px;
  background-color: $color-light-slate-grey;

  @media (max-width: $vp-1199) {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 266px;
    height: 167px;
  }

  @media (max-width: $vp-767) {
    position: relative;
    width: 100vw;
    height: 167px;
  }
}

.gym__video-cover img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 228px;
  width: 100%;

  @media (max-width: $vp-1199) {
    height: 167px;
  }
}

.gym__video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-image: url("../img/btn-video.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px 100px;

  @media (max-width: $vp-1199) {
    width: 72px;
    height: 72px;
    background-size: 72px 72px;
  }
}

.gym__video-btn:focus,
.gym__video-btn:hover {
  opacity: 0.8;
  outline: 4px solid $color-default-white;
  border-radius: 50%;
}

.gym__video-player {
  width: 100%;
  height: 100%;
}

.gym__video-player iframe {
  width: 100%;
  height: 100%;
}
