.hero__wrapper {
  display: grid;
  grid-template-columns: 396px 500px 1fr;
  grid-template-rows: repeat(2, auto);
  column-gap: 64px;

  margin: 0 auto;
  max-width: 1160px;

  @media (max-width: $vp-1199) {
    grid-template-columns: 1fr 324px;
    column-gap: 30px;
    width: 678px;
  }

  @media (max-width: $vp-767) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 290px;
  }
}

.hero__description {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  margin-top: 110px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 62px auto;
  justify-items: end;

  color: $color-default-white;

  @media (max-width: $vp-1199) {
    grid-template-rows: 41px auto;
    margin-top: 50px;
  }

  @media (max-width: $vp-767) {
    grid-template-rows: 40px auto;
    margin-top: 52px;
    margin-bottom: 43px;
  }
}

.hero__description h2 {
  margin: 0;
  width: 300px;
  font-family: $ff-bebas-neue;
  font-size: 109px;
  line-height: 109px;
  text-align: right;
  letter-spacing: 0.03em;

  grid-column: 1 / -1;
  grid-row: 2 / -1;
  align-self: start;


  @media (max-width: $vp-1199) {
    width: 235px;
    font-size: 86px;
    line-height: 86px;
  }

  @media (max-width: $vp-767) {
    width: 213px;
    font-size: 78px;
    line-height: 78px;
  }
}

.hero__description p {
  margin: 0;
  margin-bottom: 15px;
  order: -1;

  font-family: $ff-bebas-neue;
  font-weight: 400;
  font-size: 49px;
  line-height: 45px;
  letter-spacing: 0.03em;

  grid-column: 1 / -1;
  grid-row: 1 / 2;

  @media (max-width: $vp-1199) {
    margin-bottom: 3px;
    font-size: 34px;
    line-height: 41px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 9px;
    font-size: 28px;
    line-height: 34px;
  }
}

.hero__text-lable {
  position: absolute;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  justify-self: start;
  align-self: start;

  margin-left: 30px;
  margin-top: 130px;

  text-align: right;

  @media (max-width: $vp-1199) {
    margin-left: 13px;
    margin-top: 93px;
  }

  @media (max-width: $vp-767) {
    margin-left: 3px;
    margin-top: 83px;
  }
}

.hero__text-lable p {
  margin: 0;
  font-family: $ff-placeholder;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;

  @media (max-width: $vp-1199) {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 21px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 21px;
  }
}

.hero__img {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  margin-top: -10px;
  background-color: $color-sapphire;

  @media (max-width: $vp-1199) {
    margin-top: 0;
  }

  @media (max-width: $vp-767) {
    display: none;
  }
}

.hero__img img {
  height: 100%;
  object-fit: cover;
}

.hero__social {
  grid-column: 3 / -1;
  grid-row: 1 / -1;

  justify-self: end;
  align-self: end;

  margin-bottom: 39px;

  @media (max-width: $vp-1199) {
    display: none;
  }
}

.hero__social-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.hero__social-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.hero__social-list li:hover a {
  color: $color-sapphire;
}

.hero__social-list li:not(:last-child) {
  margin-bottom: 12px;
}

.hero__social-list li a {
  font-family: $ff-placeholder;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: $color-default-white;
}

.hero__btn {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  align-self: end;
  justify-self: end;
  margin-top: 20px;
  margin-bottom: 42px;
  padding: 19px 15px;
  width: 233px;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-align: center;

  color: $color-default-white;
  border: 4px solid $color-default-white;

  @media (max-width: $vp-1199) {
    margin-bottom: 23px;
    width: 183px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 0;
    width: 100%;
  }
}

.hero__btn:focus,
.hero__btn:hover {
  outline: 4px solid $color-torch-red;
}
