.page-footer {
  padding: 40px 0 32px;
  background-color: $color-black-russian;

  @media (max-width: $vp-1199) {
    padding: 42px 0 36px;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
    padding-top: 42px;
    padding-bottom: 40px;
  }
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1160px;

  @media (max-width: $vp-767) {
    flex-direction: column;
  }
}

.page-footer__logo {
  margin-top: 5px;

  @media (max-width: $vp-1199) {
    margin-right: 39px;
  }
}

.page-footer__nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  padding-left: 46px;
  width: 517px;

  @media (max-width: $vp-1199) {
    justify-content: flex-start;
    padding-left: 25px;
  }

  @media (max-width: $vp-767) {
    flex-direction: row;
    margin-top: -27px;
    margin-bottom: 30px;
    padding-left: 0;
    width: 244px;
  }
}

.page-footer__nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  color: $color-default-white;

  @media (max-width: $vp-767) {
    margin-right: 70px;
    flex-direction: column;
  }
}

.page-footer__nav li {
  margin-right: 40px;
  margin-bottom: 10px;

  @media (max-width: $vp-1199) {
    margin-right: 30px;
  }

  @media (max-width: $vp-767) {
    margin-right: 0;
    margin-bottom: 16px;
    margin-right: 6px;
  }
}

.page-footer__nav li:last-child {
  margin-bottom: 0;
}

.page-footer__nav li a {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: inherit;

  @media (max-width: $vp-767) {
    font-size: 16px;
    line-height: 19px;
  }
}

.page-footer__nav-col1 {
  @media (max-width: $vp-767) {
    margin-top: 42px;
  }
}
