.reviews {
  padding-top: 60px;
  padding-bottom: 121px;

  @media (max-width: $vp-1199) {
    padding-top: 41px;
    padding-bottom: 100px;
  }

  @media (max-width: $vp-767) {
    padding-bottom: 71px;
  }
}

.reviews__wrapper {
  position: relative;
  margin: 0 auto;
  width: 672px;

  @media (max-width: $vp-1199) {
    width: 678px;
  }

  @media (max-width: $vp-767) {
    width: 290px;
  }
}

.reviews h2 {
  margin: 0;
  margin-bottom: 52px;
  font-family: $ff-bebas-neue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;

  @media (max-width: $vp-1199) {
    margin-bottom: 41px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 32px;
  }
}

.reviews__list {
  margin: 0 auto;
  width: 560px;
  min-height: 242px;
  padding: 62px 65px 30px 62px;
  background-color: $color-resolution-blue;

  @media (max-width: $vp-1199) {
    width: 566px;
  }

  @media (max-width: $vp-767) {
    padding: 40px 25px 34px;
    width: 226px;
  }
}

.reviews__list article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 28px;
  row-gap: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  @media (max-width: $vp-767) {
    column-gap: 8px;
    row-gap: 17px;
  }
}


.reviews__img {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  width: 80px;
  height: 80px;
  background-color: $color-dark-gray;
  border-radius: 50%;

  @media (max-width: $vp-767) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: end;
    width: 68px;
    height: 68px;
  }
}

.reviews__img img {
  width: 80px;
  height: 80px;

  @media (max-width: $vp-767) {
    width: 68px;
    height: 68px;
  }
}

.reviews__list cite {
  grid-column: 2 / -1;
  grid-row: 1 / 2;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;

  @media (max-width: $vp-767) {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    font-size: 19px;
    line-height: 26px;
    margin-left: 10px;
    align-self: center;
  }
}

.reviews__list blockquote {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  margin: 0;
  width: 328px;


  @media (max-width: $vp-767) {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    width: 100%;
    text-align: center;
  }
}

.reviews__button-prev {
  left: 0;
  top: 52%;
  width: 15px;
  height: 32px;
  color: $color-dark-gray;

  @media (max-width: $vp-1199) {
    width: 10px;
    height: 32px;
  }
}

.reviews__button-next {
  right: 0;
  top: 52%;
  width: 12px;
  height: 32px;
  color: $color-dark-gray;
}

.reviews__button-prev::after,
.reviews__button-next::after {
  @media (max-width: $vp-1199) {
    font-size: 33px;
  }
}
