.reviews {
  padding-top: 60px;
  padding-bottom: 60px;
}

.reviews__wrapper {
  margin: 0 auto;
  padding: 60px 60px;
  max-width: 560px;
  min-height: 242px;
  background-color: $color-resolution-blue;

  @media (max-width: $vp-1199) {
    max-width: 566px;
  }

  @media (max-width: $vp-767) {
    max-width: 226px;
  }
}

.reviews h2 {
  margin: 0;
  font-family: $ff-bebas-neue;
  font-size: 42px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $color-default-white;
}

.reviews__list article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 28px;
  row-gap: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  @media (max-width: $vp-767) {
    column-gap: 15px;
    row-gap: 20px;
  }
}


.reviews__img {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  width: 80px;
  height: 80px;

  @media (max-width: $vp-767) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 68px;
    height: 68px;
  }
}

.reviews__img img {
  width: 80px;
  height: 80px;

  @media (max-width: $vp-767) {
    width: 68px;
    height: 68px;
  }
}

.reviews__list cite {
  grid-column: 2 / -1;
  grid-row: 1 / 2;

  @media (max-width: $vp-767) {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    align-self: center;
  }
}

.reviews__list blockquote {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  margin: 0;
  width: 328px;

  @media (max-width: $vp-767) {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    width: 100%;
    text-align: center;
  }
}
