.season-ticket {
  position: relative;
  padding-top: 119px;
  padding-bottom: 122px;
  background-color: $color-ghost-white;

  &:after {
    content: "";
    position: absolute;
    bottom: -148px;
    right: 0;
    width: 287px;
    height: 494px;
    background-image: url("../img/season-ticket-desktop-bg.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: $vp-1199) {
      width: 348px;
      background-image: url("../img/season-ticket-tablet-bg.svg");
    }

    @media (max-width: $vp-767) {
      background-image: none;
    }
  }

  @media (max-width: $vp-1199) {
    padding-top: 99px;
    padding-bottom: 100px;
  }

  @media (max-width: $vp-767) {
    padding-top: 69px;
    padding-bottom: 69px;
  }
}

.season-ticket__wrapper {
  margin: 0 auto;
  max-width: 1160px;
}

.season-ticket__wrapper h2 {
  margin: 0;
  margin-bottom: 25px;
  font-family: $ff-bebas-neue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;

  @media (max-width: $vp-1199) {
    margin-bottom: 17px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 8px;
    font-size: 32px;
    line-height: 32px;
  }
}
