.stock {
  padding-top: 117px;
  padding-bottom: 58px;

  @media (max-width: $vp-1199) {
    padding-top: 99px;
  }
}

.stock__wrapper {
  margin: 0 auto;
  max-width: 1160px;
  display: flex;

  @media (max-width: $vp-1199) {
    flex-direction: column;
    max-width: 678px;
  }
}

.stock h2 {
  margin: 0;
  margin-bottom: 53px;
  font-family: $ff-bebas-neue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;

  @media (max-width: $vp-1199) {
    margin-bottom: 41px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 43px;
    font-size: 32px;
    line-height: 32px;
  }
}

.stock__description-img-wrapper {
  display: flex;

  @media (max-width: $vp-1199) {
    margin-bottom: 30px;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.stock__description {
  display: flex;
  flex-direction: column;
  padding: 32px 40px 47px 46px;
  width: 280px;
  min-height: 462px;
  color: $color-default-white;
  background-color: $color-torch-red;

  @media (max-width: $vp-1199) {
    width: 279px;
  }

  @media (max-width: $vp-767) {
    padding: 33px 40px 33px 40px;
    align-items: center;
    width: 100%;
    min-height: 299px;
  }
}

.stock__description dl {
  margin: 0;

  @media (max-width: $vp-767) {
    text-align: center;
  }
}

.stock__description dt {
  font-weight: 700;
  font-size: 28px;
  line-height: 44px;
}

.stock__description dd {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-weight: 700;
  font-size: 70px;
  line-height: 61px;

  @media (max-width: $vp-767) {
    margin-bottom: 18px;
  }
}

.stock__description p {
  margin: 0;
  margin-bottom: auto;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.01em;

  @media (max-width: $vp-767) {
    margin-bottom: 31px;
    width: 189px;
    text-align: center;
  }
}

.stock__description a {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $color-default-white;
  text-transform: uppercase;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.stock__description a:hover {
  outline: 2px solid $color-sapphire;
}

.stock__img {
  margin-right: 40px;
  width: 280px;
  height: 462px;
  background-color: $color-dark-cerulean;

  @media (max-width: $vp-1199) {
    margin-right: 0;
    width: 399px;
    height: 462px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    height: 299px;
  }
}

.stock__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.stock__list {
  flex-grow: 1;
}

.stock__list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  @media (max-width: $vp-1199) {
    flex-direction: row;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
  }
}

.stock__list li {
  display: flex;
  flex-direction: column;
  padding: 24px 29px 31px 29px;
  height: 211px;
  border: 7px solid;
  border-image: $red-to-right;
  border-image-slice: 1;

  @media (max-width: $vp-1199) {
    width: 324px;
  }

  @media (max-width: $vp-767) {
    align-items: center;
    padding-top: 37px;
    padding-left: 29px;
    margin-bottom: 30px;
    width: 100%;
  }

  @media (max-width: $vp-320) {
    align-items: center;
  }
}

.stock__list li+li p {
  width: 100%;
}

.stock__list h3 {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 26px;
}

.stock__list p {
  margin: 0;
  margin-bottom: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: $vp-1199) {
    width: 189px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 27px;
    width: 189px;
    text-align: center;
  }
}

.stock__list a {
  max-width: 100px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;

  @media (max-width: $vp-768) {
    text-underline-offset: 3px;
  }
}

.stock__list a:hover {
  outline: 2px solid $color-sapphire;
}
