.super-games {
  padding-top: 120px;
  padding-bottom: 100px;

  @media (max-width: $vp-1199) {
    padding-top: 101px;
    padding-bottom: 100px;
  }

  @media (max-width: $vp-767) {
    padding-top: 69px;
    padding-bottom: 100px;
  }
}

.super-games__wrapper {
  margin: 0 auto;
  max-width: 1160px;
  // min-height: 500px;
  display: flex;
  color: $color-default-white;

  @media (max-width: $vp-1199) {
    max-width: 678px;
    min-height: 292px;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
    width: 290px;
  }
}

.super-games__text {
  padding-top: 80px;
  padding-bottom: 84px;
  padding-left: 77px;
  padding-right: 77px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 95px 70px 54px auto;
  column-gap: 51px;
  width: 500px;
  background-color: $color-torch-red;

  @media (max-width: $vp-1199) {
    padding: 49px 45px;
    grid-template-columns: 117px 56px;
    grid-template-rows: 52px 52px 48px 39px;
    column-gap: 30px;
    width: 292px;
  }

  @media (max-width: $vp-767) {
    padding: 51px 44px;
    width: 290px;
  }
}

.super-games__text h2 {
  margin: 0;
  width: 200px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  font-family: $ff-bebas-neue;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 0.03em;

  @media (max-width: $vp-1199) {
    width: 117px;
    font-size: 52px;
    line-height: 52px;
  }
}

.super-games__text p {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  margin: 0;
  margin-top: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  @media (max-width: $vp-1199) {
    margin-top: 0;
    font-size: 12px;
    line-height: 18px;
  }
}

.super-games__list {
  margin: 0;
  padding: 0;
}

.super-games__list dt {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  @media (max-width: $vp-1199) {
    font-size: 11px;
    line-height: 17px;
  }
}

.super-games__list dt + dd {
  display: inline-block;
  margin: 0;
  margin-right: 4px;
  font-weight: 700;
  font-size: 40px;

  @media (max-width: $vp-1199) {
    margin-right: 0;
    font-size: 22px;
    letter-spacing: 0.03em;
  }
}

.super-games__list dt + dd + dd {
  display: inline-block;
  margin: 0;
  width: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: $vp-1199) {
    font-size: 10px;
    line-height: 11px;
  }
}

.super-games__list-time {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
}

.super-games__list-time dt {
  margin-bottom: 13px;
  width: 88px;
  border-bottom: 1px solid $color-default-white;

  @media (max-width: $vp-1199) {
    margin-bottom: 4px;
    width: 56px;
    letter-spacing: 0.03em;
  }
}

.super-games__list-date {
  grid-column: 2 / -1;
  grid-row: 2 / 1;
}

.super-games__list-date dt {
  margin-bottom: 5px;
  width: 64px;
  border-bottom: 1px solid $color-default-white;

  @media (max-width: $vp-1199) {
    margin-bottom: 3px;
    width: 42px;
  }
}

.super-games__img {
  width: 660px;
  // height: 500px;

  @media (max-width: $vp-1199) {
    width: 386px;
  }

  @media (max-width: $vp-767) {
    width: 290px;
  }
}

.super-games__btn {
  grid-column: 1 / -1;
  grid-row: 4 / -1;
  margin-top: 43px;
  width: 348px;
  height: 72px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  border: 4px solid $color-default-white;
  color: $color-default-white;

  @media (max-width: $vp-1199) {
    margin-top: 0;
    width: 202px;
    height: 39px;
    font-size: 10px;
    line-height: 12px;
    border-width: 2px;
  }
}
