.swiper-coaches {
  width: 100%;
  height: 294px;

  @media (max-width: $vp-1365) {
    max-width: 840px;
  }

  @media (max-width: $vp-1199) {
    max-width: 566px;
  }

  @media (max-width: $vp-767) {
    max-width: 226px;
    height: 274px;
  }
}
